<h2 class="search-results-header"> Search results for "<%= params[:search] %>"</h2><br>
<% if !@results[:product_results].empty? %>
  <div class="index">
    <% @results[:product_results].each do |product| %>
      <%= link_to product_path(product) do%>
        <div class="prod-container">
          <%= image_tag(product.picture_src, height: 500, width: 350, class: 'prod-img') %><br><br>
          <%= product.name.upcase %> by Voluptuous <br>
          <span class="price-before"><%= product.pricebefore %></span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
          <%= product.priceafter %><br><br><br><br>
        </div>
      <% end %>
  <% end %>
<% else %>
  <h4>There were no products found containing the term "<%= params[:search] %>".</h4>
<% end %>
