<div class="filters-container">
  <h4 class="filter">DRESSES</h4>
  <h4 class="filter">TOPS</h4>
  <h4 class="filter">BOTTOMS</h4>
  <h4 class="filter">ALL ITEMS</h4>
  <h4 class="filter">SKIRTS</h4>
  <h4 class="filter">SHORTS</h4>
  <h4 class="filter">SALES</h4>
</div>
<hr style="border-color: black; border-width: thin;">
<div class="row">
  <div class="index">
    <% @products.each do |product| %>
      <%= link_to product_path(product) do %>
        <div class="prod-container">
          <%= image_tag(product.picture_src, height: '500', width: '350', class: 'prod-img') %><br><br>
          <%= product.name.upcase %> by Voluptuous<br>
          <span class="price-before"><%= product.pricebefore %></span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
          <%= product.priceafter %><br><br><br><br>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% if current_user %>
  <% if current_user.id == 1 %>
    <%= link_to "my conversations", conversations_path %>
  <% else %>
  <h3>Verify</h3>
    <%= link_to 'Need help?', new_message_path(receiver_id: 1) %>
  <% end %>
<% end %>
