<header class="landing-header">
    <span class="company-title"><%= image_tag "odessu_logo.jpg", height: '60', width: '60' %> ODESSU</span>
    <span class="top-right-buttons">
      <span class="topright"><%= link_to 'Get Started', new_user_registration_path %></span>
      <span class="topright"><%= link_to 'Sign In', new_user_session_path %></span>
      <span class="topright how-it-works-top"><b><a href="#">How It Works</a></b></span>
      <span class="topright mission-top"><b><a href="#">Our Mission</a></b></span>
    </span>
</header>

<br><br><br><br><br>

<div class="complement-container">
  <div class="body-complement-left">
    <div class="complement-text-container">
      <span><h3>Find stylish clothes that complement your body shape</h3></span><br>
      <span>Save time. Expand your wardrobe. Find clothes that fit</span><br><br>
      <button class="getstarted"><%= link_to "Get Started", new_user_registration_path %></button><br><br>
      <span>*Greater Toronto Area Sizes 14+</span>
    </div>
  </div>

  <div class="body-complement-right">

  </div>
</div>

<div>
  <div class="benefits-img-left">
    <%= image_tag "Leon-74.jpg", height: 500, width: 320 %><%= image_tag "Leon-76.jpg", height: 500, width: 320 %>
  </div>
  <div class="benefits-right">
    <h4><b>Your Benefits</b></h4>
    <ul>
      <li>Have your size & fit suggested before you buy</li>
      <li>Explore the latest items available in your size</li>
      <li>Shopping assistance for item verification</li>
      <li>Get your items put on hold</li>
      <li>Earn rewards for purchases in store and online</li>
    </ul><br><br>
    <span>$12/month</span>
  </div>
</div>
<div class="mission">
  <div><b>Our Mission</b></div>
  <h1>Make shopping enjoyable for everyone.</h1>
  <h3>Feel confident and look good in the clothes you wear.</h3><br><br>
  <span class="vid-container"><%= raw(Product.youtube_embed('www.youtube.com/watch?v=XcHFPF6NMqc')) %></span>
  <div id="overlay"></div>
</div>

  <div class="how-it-works">
    <div>How It Works</div>
    <div>
      <div class="step">
        <div>Step 1</div>
        <div> Finding your body shape</div>
        <span>
          Take 2 minutes to create your profile.<br> We will use that information to predict your body measurements.
        </span>
      </div>

      <div class="step">
        <div>Step 2</div>
        <div>Let us do the research</div>
        <span>
          We search and curate <br> the market to find your options.
        </span>
      </div>

      <div class="step">
        <div>Step 3</div>
        <div>Discover fashion that fits</div>
        <span>
          All items you see are always available in your size. Shop in store or online.
        </span>
      </div>
    </div>
  </div>

<footer>
  <div class="footer-links-container">
    <div><b>Invite Friends</b></div>
    <div><b>About Us</b></div>
    <div><b>Contact Us</b></div>
  </div><br><br>
  <div><b>Copyrights &copy; Trendsnd Inc 2017</b></div>
</footer>
