<span class="form1"><%= form_for(current_user, url: update_profile_path) do |f| %>
<% current_user.id %>
  <div class="prof1-1st-row">
    <div class="first-row-content">
      <%= f.label :height, 'Height:'%>
      <%= f.text_field :height_ft %> ft <%= f.text_field :height_in %> in
      &nbsp; &nbsp; or &nbsp;&nbsp;
      <%= f.text_field :height_cm %> cms
    </div>
    <div class="first-row-content">
      <%= f.label :weight, "Weight:" %>
      <%= f.text_field :weight %>
      <%= f.radio_button :weight_type, 'Kg'%>Kg
      <%= f.radio_button :weight_type, 'Lbs', checked: true%>Lbs
    </div>
    <div class="first-row-content">
      <%= f.label :age_range, "Age:" %>
      <%= f.select :age_range, ['Select', '18-24', '25-34', '35-45', '46-55', '56-65', '66+'] %>
    </div>
  </div>

  <div class="prof1-2nd-row">
    <h3>Tops</h3><br>
    <div class="second-row-content">
      <%= f.label :tops_store, "Store:" %> &nbsp;
      <%= f.select :tops_store, @stores %>
    </div>
    <div class="second-row-content">
      <%= f.label :tops_size, "Size:" %> &nbsp;
      <%= f.select :tops_size, [] %>
    </div>
    <div class="second-row-content">
      <%= f.label :tops_store_fit, "Fit: " %>  &nbsp; &nbsp; &nbsp;
      <%= f.radio_button :tops_store_fit, 'loose' %> Loose  &nbsp; &nbsp; &nbsp;
      <%= f.radio_button :tops_store_fit, 'truesize' %> True Size  &nbsp; &nbsp; &nbsp;
      <%= f.radio_button :tops_store_fit, 'tight' %> Tight
    </div>
  </div>

  <div class="prof1-2nd-row">
    <h3>Bottoms</h3><br>
    <div class="second-row-content">
      <%= f.label :bottoms_store, "Store:" %> &nbsp;
      <%= f.select :bottoms_store, @stores %>
    </div>
    <div class="second-row-content">
      <%= f.label :bottoms_size, "Size:" %> &nbsp;
      <%= f.select :bottoms_size, [] %>
    </div>

    <div class="second-row-content">
      <%= f.label :tops_store_fit, "Fit:" %> &nbsp; &nbsp; &nbsp;
      <%= f.radio_button :bottoms_store_fit, 'loose' %> Loose &nbsp; &nbsp; &nbsp;
      <%= f.radio_button :bottoms_store_fit, 'truesize' %> True Size &nbsp; &nbsp; &nbsp;
      <%= f.radio_button :bottoms_store_fit, 'tight' %> Tight
    </div>
  </div>

  <div class="prof1-4th-row">
  <h3>Bras</h3>
    <%= f.label :bra_size, "Size: " %> &nbsp;
    <%= f.select :bra_size, ['28', '30', '32', '34', '36', '38', '40', '42', '44', '46', '48', '50'] %>

    <%= f.label :bra_cup, "Cup:" %> &nbsp;
    <%= f.select :bra_cup, ['AA', 'A', 'B', 'C', 'D', 'DD or E', 'DDD or F', 'G', 'H', 'I', 'J'] %>
  </div>

  <br><div class="prof1-intro"> Know your measurements? </div><br>

  <div class="prof1-5th-row">
    <%= f.label :bust, "Bust:" %> &nbsp;
    <%= f.text_field :bust %> &nbsp; &nbsp; &nbsp; &nbsp;

    <%= f.label :waist, "Waist:" %> &nbsp;
    <%= f.text_field :waist %>&nbsp; &nbsp; &nbsp; &nbsp;

    <%= f.label :hip, "Hip:" %> &nbsp;
    <%= f.text_field :hip %>&nbsp; &nbsp; &nbsp; &nbsp;

    <%= f.label :inseam, "Inseam:" %> &nbsp;
    <%= f.text_field :inseam %>&nbsp; &nbsp; &nbsp; &nbsp;

    <%= f.radio_button :bust_waist_hip_inseam_type, 'in', checked: true %> in
    <%= f.radio_button :bust_waist_hip_inseam_type, 'cm' %> cm
  </div>
<br><br><br>

  <div class="prof2-intro">
    What shape is most similar to your body?
    <p> You can hover over them to see detailed descriptions. When you're ready, click one! </p>
  </div>

  <hr>

  <div class="bodyshapes-container">

    <div class="bodyshape Inverted-Triangle">
      <%= image_tag "inv_tri.jpeg" %>
    </div>

    <div class="bodyshape Round">
      <%= image_tag "round.jpeg" %>
    </div>

    <div class="bodyshape Ruler">
      <%= image_tag "ruler.jpeg" %>
    </div>

    <div class="bodyshape Hourglass">
      <%= image_tag "hourglass.jpeg" %>
    </div>

    <div class="bodyshape Triangle">
      <%= image_tag "triangle.jpeg" %>
    </div>

  </div>

  <br><br><br>

  <div class="prof3-intro">
    Tell us more about yourself!
  </div>

  <hr>

    <div class="cloth-fit">

      <h3>How do you like your clothes to fit?</h3>

      <div class="fitt">
        <div>TOPS</div><br><br>
        <%= f.radio_button :tops_fit, 'flowy' %> Flowy &nbsp; &nbsp;
        <%= f.radio_button :tops_fit, 'fitted' %> Fitted &nbsp; &nbsp;
      </div>

      <div class="fitt">
        <div>BOTTOMS</div><br><br>
        <%= f.radio_button :bottoms_fit, 'tight' %> Tight &nbsp; &nbsp;
        <%= f.radio_button :bottoms_fit, 'relaxed' %> Relaxed &nbsp; &nbsp;
      </div>

    </div>

  <div class="select-that-apply">
    <h6>(Select all that apply)</h6>
    <h3> What issues do you usually have with your clothing? </h3>
  </div>

    <div class="issues">
      <%= fields_for :issues do |i| %>
        <div class="issue">
          <h4> Fit </h4>
          <% count = 0 %>
          <% ['Tight on Bust', 'Loose on Bust', 'Tight on Waist', 'Loose on Waist', 'Tight on Hip', 'Loose on Hip'].each do |value| %>
          <% count += 1 %>
            <div class="prof-3-issue">
              <%= i.check_box(:issue_fit, { :multiple => true }, value, nil)%>
              <%= i.label :issue_fit, "#{value}" %>
            </div>
            <% if count % 2 == 0 %> <br> <% end %>
          <% end %>
        </div>
        <div class="issue">
          <h4> Length </h4>
          <% count = 0 %>
          <% ['Too long on arms', 'Too short on arms', 'Too long on legs', 'Too short on legs'].each do |value| %>
            <% count += 1 %>
            <div class="prof-3-issue">
              <%= i.check_box(:issue_length, { :multiple => true }, value, nil)%>
              <%= i.label :issue_length, "#{value}" %>
            </div>
            <% if count % 2 == 0 %> <br> <% end %>
          <% end %>
        </div>
    </div><br><br>
    <span class="other-issues">Other: <%= i.text_field :other1 %> <br><%= i.text_field :other2 %></span><br><br>
    <% end %>

    <hr>

    <div style="text-align:center;margin-top: 3%;">
      <h3>Edit Personal Information</h3><br>
      <%= f.text_field :full_name, placeholder: "Full Name" %><br><br>

      <%= f.text_field :address, placeholder: "Address" %><br><br>

      <%= f.text_field :city, placeholder: "City" %><br><br>

      <%= f.select :province, ['Alberta', 'British Columbia', 'Manitoba', 'New Brunswick', 'Newfoundland and Labrador', 'Northwest Territories', 'Nova Scotia', 'Nunavut', 'Ontario', 'Prince Edward Island', 'Quebec', 'Saskatchewan', 'Yukon Territory'], :prompt => "Select A Province" %><br><br>

      <%= f.text_field :postal_code, placeholder: "Postal Code" %><br><br>

      <%= f.text_field :buzzer_code, placeholder: "Buzzer Code" %><br><br>

      <%= f.text_field :phone_number, placeholder: "Phone number" %><br><br>
    </div>

  <div style="text-align:center;"><%= f.submit "Save Changes" %></div>
  <% end %></span>
