
<%= form_for(current_user, url: create_profile_2_path) do |f| %>
  <div class="logotop">
    <%= image_tag "odessu_logo.jpg", height: 60, width: 60 %> <b>ODESSU</b>
  </div>

  <div class="prof2-intro">
    What shape is most similar to your body?
    <p> You can hover over them to see detailed descriptions. When you're ready, click one! </p>
  </div>

  <hr>

  <div class="bodyshapes-container">

    <div class="bodyshape inverted-triangle">
      <%= image_tag "inv_tri.jpeg" %>
    </div>

    <div class="bodyshape round">
      <%= image_tag "round.jpeg" %>
    </div>

    <div class="bodyshape ruler">
      <%= image_tag "ruler.jpeg" %>
    </div>

    <div class="bodyshape hourglass">
      <%= image_tag "hourglass.jpeg" %>
    </div>

    <div class="bodyshape triangle">
      <%= image_tag "triangle.jpeg" %>
    </div>

  </div>

  <!-- <h3> How did you hear about us </h3> -->

  <%# f.select :advertisement_source, ['LinkedIn', 'etc'] %>

  <div class="prof2-next"><%= f.submit "Next", class: 'bodyshape-submit' %></div>
<% end %>

<div class="prof-setup-progress">
  <%= image_tag "success.svg", height: 50, width: 50 %>
  <%= image_tag "success.svg", height: 50, width: 50 %>
  <%= image_tag "success (1).svg", height: 50, width: 50%>
  <%= image_tag "success (1).svg", height: 50, width: 50 %>
</div>
